/derivatives.aux
/derivatives.fdb_latexmk
/derivatives.fls
/derivatives.log
/derivatives.synctex.gz
/integrals.aux
/integrals.fdb_latexmk
/integrals.fls
/integrals.log
/integrals.synctex.gz
/matrices.aux
/matrices.fdb_latexmk
/matrices.fls
/matrices.log
/matrices.synctex.gz
/vectors.aux
/vectors.fdb_latexmk
/vectors.fls
/vectors.log
/vectors.synctex.gz